/* FOOTER */
footer {
  background-color: #e9e9e5;

  hr {
    display: block;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: rgba(168, 168, 168, 0.4)
  }

  a {
    color: #de355c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.footerLinks {
  padding-top: 20px;

}

/* SOCIAL ICONS */
.socialIcons {
  float:right;
  margin-top: 15px;
}

/* ADDRESS */
.address {
  margin-top: 30px;
  margin-bottom: 40px;
  p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.0rem;

  }
}
